body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}
.products h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1100px;
    margin: 0 auto;

}

.item-container .card {
    width: 300px;
    position: relative;
    padding-bottom: 100px; 
    box-sizing: border-box;
}

.item-container .card-body {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.categories{
    width: 1000px;
    display: flex;
    margin: 0 auto;
    gap: 30px;
}
.categories .card {
    width: 300px;

    box-sizing: border-box;
}

.detail-container{
    display: flex;
    justify-content: center;
}
.detail-container img{
    width: 300px;
    height: 400px;
}

.form-input{
    margin: 15px 0;
    text-align: start;
}
.form-input label{
    font-size: 18px;
    font-weight: bold;
}
.form-input input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: black;
}
.signup-container{
    justify-content: center;
}
.signup-container form{
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: bisque;
    
}

.category-container{
    padding: 50px 0;
}
.products{
    padding: 50px 0;
}
li{
    list-style-type: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
ul{
    margin: 0;
    padding: 0;
}